<h1>Link Shortener</h1>
<p> </p>

<form action='/url' method="post">
	Enter url:
		<input type= "text" name="user_input_long_url">
		<input type= "submit" value="Submit">
</form>

<% @urls.each do |link| %>

	<%= link.original_url %> - <%= link.shortened_url %> 
	<a href= "<%= link.shortened_url %> "%> <%= link.shortened_url %> </a>

	<br>

<% end %>